@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Fira Sans", serif;*/
*{
    margin: 0;
    padding: 0;
}


/*share style*/

.btn-primary {
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color:#FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
}









/*logo style*/

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background-color:#F5F5F5;
}
.bd-logo {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    padding: 31px 0;
}
.sign {
    border: 1px solid #006A50;
    margin-top: 24px 0;
    border-radius: 8px;
}
.signbtn {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;

}

/*hero styles*/
.hero-container {
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background-color: #C6E4D6;
}

.herotitle {
    font-size: 24px;
    font-weight: 600;
    color: rgba(14,14,14,0.5);
    margin: 17px 0;
}
.herosubtitle {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    line-height: 1.2;
    margin-bottom: 24px;
}

/*main style start*/
main{
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

/*pillar style */
.pillar-container {
    margin-top: 80px;
}
.pillar-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.pillar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 32px;
    gap: 24px;
}
.pillar-item {
    border: 1px solid #E4E4E4;
    border-radius: 16px;
    padding: 24px;
    box-shadow: rgba(14,14,14,0.5);
}
.pillar-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:12px;
}
.pillar-des{
    font-size: 16px;
    color: #0E0E0E;
}


/*vision section style*/
.vision-container {
    margin-top: 80px;
}
.vision-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-des {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}
.vision-items {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.vosion-item-1 {
    background-color:#DDE9FD;
    border-radius: 16px;
    padding: 32px;
    box-shadow: rgba(84,144,245,0.5);
}
.vision-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 24px;
}
.vision-card-text {
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 12px;
}
.vision-digital-btn-1 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight:600;
    border-radius: 8px;
    background-color: #5490F5;
    padding:11px 20px;
    margin-top: 24px;
}

.vosion-item-2 {
    background-color:#C6E4D6;
    border-radius: 16px;
    padding: 32px;
}

.vision-green-btn-2 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight:600;
    background-color: #09A15C;
    border-radius: 8px;
    padding:11px 20px;
    margin-top: 24px;
}
.vosion-item-3 {
    background-color:#F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.vision-modern-btn-3 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight:600;
    background-color: #FFC239;
    border-radius: 8px;
    padding:11px 20px;
    margin-top: 24px;
}
